*.d.ts
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
node_modules
.DS_Store
vant
dist-ssr
coverage
*.local
/src/wxcomponents
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.js
*/**.js
src/**/*.js
src/pages/sub-package/PaperSDK/*
